<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:solr="http://www.springframework.org/schema/data/solr"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/data/solr http://www.springframework.org/schema/data/solr/spring-solr.xsd">

    <!-- solr server -->
    <!-- TODO setup properties profile -->
    <context:property-placeholder location="classpath:application.properties,classpath:application-dev.properties"
                                  ignore-resource-not-found="true" />
    
    <!--    <solr:solr-client id="solrClient" url="${solr.server.url}"/>-->

    <!-- solr repositories   -->
    <!--       <solr:repositories base-package="com.att.cw.dao.solr" 
    base-class="com.att.cw.dao.solr.SearchableDocumentRepositoryImpl"/>-->
    <!-- converter -->
    <!-- solr Http server factory -->
    <!--    <bean id="solrClientFactory" class="org.springframework.data.solr.server.support.HttpSolrClientFactory">
        <constructor-arg ref="solrClient" />
        <constructor-arg value="${solr.core}" />
    </bean>-->
    
    <bean id="solrClient" class="com.att.cw.support.solr.CustomHttpSolrClient">
        <constructor-arg value="${solr.server.url}"/>
    </bean>
     
    <!--solr template  -->
    <bean id="solrTemplate" class="org.springframework.data.solr.core.SolrTemplate">
        <constructor-arg ref="solrClient" />
        <constructor-arg value="${solr.core}"/> 
    </bean>
    
    <bean id="queryFactory" class="com.att.cw.support.solr.SolrSearchQueryFactory"/>
    
    <bean id="searchRepository" class="com.att.cw.dao.solr.SearchableDocumentRepositoryImpl">
        <constructor-arg ref="queryFactory"/>
        <constructor-arg ref="solrTemplate"/>
        <constructor-arg type="java.lang.Class" value="com.att.cw.model.SearchableDocument"/>
    </bean>
   
    <!-- solr event handler -->
    <bean id="solrEventHandler" class="com.att.cw.event.SolrEventHandler"/>
    
    <!-- converter -->
    <bean id="documentToObjectConverter" class="com.att.cw.support.solr.SolrDocumentToObjectConverter"/>
    <!-- service -->
    <bean id="searchableDocumentService" class="com.att.cw.service.SearchableDocumentService"/> 
</beans>
