<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://www.att.com">CW</a>
    </div>
    <div class="collapse navbar-collapse">
        <form class="navbar-form navbar-right" id="header-form" role="form">
            <div class="lt-left">
                <div class="form-group">
                    <label for="exampleInputEmail2">Email or Phone</label>
                    <input type="email" class="form-control input-sm" id="exampleInputEmail2" placeholder="Email or Phone">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword2">Password</label>
                    <input type="password" class="form-control input-sm" id="exampleInputPassword2" placeholder="Password">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
            </div>
            <div class="lt-right">
                <button type="submit" class="login-btn">Login</button>
            </div>
        </form>

    </div>
</div>