<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd">
    
    <global-method-security pre-post-annotations="enabled" /> 
    <http pattern="/api/login" security="none"/>
    <http pattern="/api/signup" security="none"/>
    <http pattern="/restricted/**" entry-point-ref="restAuthenticationEntryPoint" create-session="stateless">
        <csrf disabled="true"/>
        <custom-filter before="FORM_LOGIN_FILTER" ref="jwtAuthenticationFilter" />
    </http>
    <beans:bean id="jwtAuthenticationFilter" class="com.att.cw.security.JwtAuthenticationFilter">
        <beans:property name="authenticationManager" ref="authenticationManager" />
        <beans:property name="authenticationSuccessHandler" ref="jwtAuthenticationSuccessHandler" />
    </beans:bean>
    <beans:bean id="jwtAuthenticationProvider" class="com.att.cw.security.JwtAuthenticationProvider" />
    <beans:bean id="jwtAuthenticationSuccessHandler" class="com.att.cw.security.JwtAuthenticationSuccessHandler" />
    <beans:bean id="restAuthenticationEntryPoint" class="com.att.cw.security.RestAuthenticationEntryPoint" />      
      
    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="jwtAuthenticationProvider" />
    </authentication-manager>
</beans:beans>